<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>
    <h1>Welcome</h1>
    <h2>About William</h2>
    <p>I'm a <strong>senior</strong> at the <em>Robert H. Smith School of Business</em></p>
    <h2>Major</h2>
    <p>I am <em>currently</em> majoring in <strong>Information Systems.</strong></p>

    <p>My Favorite Courses:</p>
    <ul>
        <li>BMGT407</li>
        <li>BMGT403</li>
        <li>BMGT402</li>
        <li>BMGT302</li>
        <li>BMGT302</li>
    </ul>

    <p>My Least Favorite Courses</p>
    <ol>
        <li>BMGT340</li>
        <li>BMGT380</li>
        <li>ECON305</li>
    </ol>

    <!--Listed some of the courses I took while at UMD.-->
    <p>Courses I have taken.</p>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT407</td>
            <td>Spring 2023</td>
        </tr>
        <tr>
            <td>BMGT380</td>
            <td>Fall 2021</td>
        </tr>
        <tr>
            <td>ECON305</td>
            <td>Fall 2021</td>
        </tr>
    </table>

    <!-- Some of my favorite websites involving clothing and the school site.-->
    <p>A link to the <a href="/hello">hello route</a>.</p>
    <p>A link to a favorite website <a href="https://www.nike.com/">Nike Site</a>.</p>
    <p>A link to a favorite website #2 <a href="https://www.rhsmith.umd.edu/" target="_blank">Forcing new tab to open.</a>.</p>

    <p>Here is a picture of the Smith logo.</p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="A picture of the UMD Smith School Logo" width="267" height="72">
    <!-- Made image to fit page.-->
</body>
</html>