{% extends "base.html" %}

{% block page_title %}
    View Cart
{% endblock %}

{% block page_head %}
    View Cart
{% endblock %}

{% block page_content %}
<div class="row">
	<div class="col-lg-8">
        {% if cart_count > 0 %}
            <div class="row">
					<div class="col-lg-3">
                        &nbsp;
					</div>
					<div class="col-lg-3">
						<h3 class="bold">Item</h3>
					</div>
					<div class="col-lg-2">
						<h3>Quantity</h3>
					</div>
					<div class="col-lg-2">
						<h3>Price</h3>
					</div>
					<div class="col-lg-2">
						<h3>Total</h3>
					</div>
				</div>
                {% set ns = namespace(item = 0) %}
				{% for product in products %}
				<div class="row mb-3">
					<div class="col-lg-3">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="thumbnail thumbnail-q">
								<img class="img-fluid" src="{{ url_for('static', filename='/products/' + product['product_image']) }}" alt="Picture of {{ product['product_name'] }}">
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<strong>{{ product['product_name'] }}</strong>
						<br>
						<p>
                            <a href="{{ url_for('cart_remove', index=ns.item) }}" class="btn btn-danger btn-sm">Remove from Cart</a>
						</p>
					</div>
					<div class="col-lg-2">
						<p>
							{{ product['product_quantity'] }}
						</p>
					</div>
					<div class="col-lg-2">
						<p>{{ "${:,.2f}".format(product['product_price']) }}</p>
					</div>
					<div class="col-lg-2">
						<p>
							<strong>{{ "${:,.2f}".format(product['product_price']*product['product_quantity']) }}</strong>
						</p>
					</div>
				</div>
                {% set ns.item = ns.item + 1 %}
				{% endfor %}
        {% else %}
            <a>Your cart is currently empty. <a href="{{ url_for('home') }}">Continue shopping</a> to add items to your cart.</p>
        {% endif %}
	</div>

    {% if cart_count > 0 %}
	<div class="col-lg-4">
		<h3 class="bold">Cart Summary</h3>

        <ul class="list-group">
            <li class="list-group-item">
                <p>{{ cart_count }} Item{{ 's' if cart_count != 1 else '' }} | FREE Shipping!</p>

            </li>
            <li class="list-group-item">
                <p>Total <strong class="pull-right">{{ "${:,.2f}".format(cart_total) }}</strong></p>
            </li>
        </ul>
        <div class="panel-footer mt-3">
            <a href="{{ url_for('checkout') }}" class="btn btn-primary btn-sm">
                Checkout
            </a>

            <a href="{{ url_for('home') }}" class="btn btn-secondary btn-sm">
                Continue Shopping
            </a>
        </div>
	</div>
    {% endif %}
</div>
{% endblock %}